page-home {
    #map_canvas {
        height: 90%;
      }

      ion-app._gmaps_cdv_ .nav-decor{
        background-color: transparent !important;
      }
       
      home-page {
       
          #map {
              height: 100%;
          }
       
      }
}
